/* ---- ELEMENTOS COMUNES EN LA WEB --- */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html, body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	width: 100vw;
}
main{
	width: 100vw;
	display: grid;
	grid-template: 100vh repeat(3, auto) / 100vw;
	gap: 3.13rem;
}
section:not(:first-child){
	overflow: hidden;
	padding: 1.56rem 4vw;
	min-height: 100vh;
}
h2{
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
}
.filtro-color{
	background-color: #66DEC3;
	mix-blend-mode: multiply;
	position: absolute;
	z-index: 1;
}
button{
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	cursor: pointer;
}
@font-face {
  font-family: 'soligant';
  src: url('../fonts/soligant/soligant.ttf') format('truetype');
}

/* BARRA DE NAVEGACIÓN */
nav{
	width: 100%;
	height: 3.13rem;
	padding: .78rem 4vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 2;
}
.index{
	width: 6.63rem;
	transition: all .5s;
	position: relative;
	top: .19rem;
	z-index: 1;
}
#menu{
	position:relative;
	left: .78rem;
	top: 0;
}
.xs #burger{
	position: relative;
	width: 3.13rem;
	height: 3.13rem;
	transition: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 2;
}
.xl #burger{
	display: none;
}
#burger button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.56rem;
	transition: all .5s;
}
#burger button img{
	width: 1.56rem;
}
#burger:hover{
	transform: rotateY(180deg);
	transition: all .5s;
}
.open button{
	transform: rotateZ(0deg);
}
.close button{
	transform: rotateZ(45deg);
}

/* ELEMENTOS DE ANIMACIÓN DE BARRA */
.barra-off #fondo-nav{
	top: -3.56rem;
}
.barra-off #burger button{
	color: white;
}
#fondo-nav{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 .13rem 0 black;
	transition: all .5s;
	z-index: -1;
}

/* MENÚ DESPLEGABLE */
#desplegable{
	position: fixed;
	top: 0;
	right: calc(4vw - 1.56rem);
	width: calc((10% + 12.5rem) - 4vw);
	transition: all .5s;
	overflow: hidden;
	z-index: 1;
}
.xs #desplegable{
	height: 0;
	max-height: 25rem;
	background-color: rgba(102, 222, 195, .9);
}
.xl #desplegable{
	height: 50vh;
	max-height: 25rem;
	background-color: none;
}
#desplegable ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	list-style: none;
	height: 50vh;
	max-height: 25rem;
	padding: 60px 2.19rem 15% 15%;
}
#desplegable ul a{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1.25em;
	text-decoration: none;
	letter-spacing: .31rem;
	color: white;
}
#desplegable ul a::after{
	content:"";
	display: block;
	position: relative;
	width: 100%;
	height: .13rem;
	transform: scale(0,1);
	transition: transform .25s;
	transform-origin: right;
	background-color: white;
}
#desplegable ul a:hover::after{
	transform: scale(1,1)
}
#fondo-cierre{
	height: 100vh;
	width: 100vw;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

/* FOOTER */
footer{
	width: 100vw;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .78rem 4vw;
	margin: 1.56rem 0 0 0;

}
footer ul{
	width: 100%;
	font-size: .78em;
	font-family: 'IBM Plex Mono', monospace;;
	margin: 0 1.56rem;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
footer ul li{
	flex-grow: 1;
	list-style: none;
	text-align: center;
}
footer ul a, i{
	color: black;
	text-decoration: none;
}
footer ul a:hover{
	opacity: .5;
}



/* --- PAG "INDEX" --- */

/* SECCION "INICIO" */
#inicio{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#inicio a{
	cursor: crosshair;
	height: 100vh;
	width: 100vw;
}
#inicio #portada-proyectos{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: grayscale(100%);
}
#inicio #flechas{
	position:absolute;
	width: 92vw;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}
#inicio .filtro-color{
	top: 0;
	width: 100vw;
	height: 100vh;
}
#flechas img{
	padding: .94rem .94rem .94rem 0;
	width: 2.5rem;
	opacity: .9;
}
#flechas img:last-child{
	transform: rotate(180deg);
}
#flechas img:hover{
	opacity: .6;
}
#bolas{
	width: 12.5rem;
	height: .63rem;
	position: absolute;
	bottom: 4vw;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}
#bola{
	width: 2.4rem;
	height: .31rem;
	border-radius: .31rem;
	cursor: pointer;
}
#bola:hover{
	border: 1px solid rgba(255, 255, 255, .9);
}
.activa{
	background-color: rgba(255, 255, 255, .9);
}
.no-activa{
	background-color: rgba(255, 255, 255, .6);
}


/* SECCION "ABOUT US" */
#about_us{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
#about_us p{
	font-style: italic;
	font-size: 2rem;
	text-align: center;
}
#presentacion{
	display: flex;
	justify-content: center;
	align-items: center;
}
#we-are{
	font-family: 'soligant';
	font-size: 10rem;
	text-align: center;
	line-height: .6em;
	color: #66DEC3;
	opacity: .5;
}
#agencia{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#agencia h2{
	font-size: 6.5rem;
	line-height: .9em;
}
#agencia h3{
	font-weight: 300;
	font-size: 1.9rem;
	letter-spacing: 1.63rem;
	padding-left: 1.88rem;
}


/* SECCION "SERVICES" */
#servicios{
	display: grid;
	grid-template: repeat(2, 1fr) / 1;
	gap: 1.56rem;
	justify-content: center;
	align-items: flex-start;
}
#oficina{
	width: 92vw;
	height: 70vh;
}
#oficina img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#listado{
	padding: 4vw 1.56rem;
	display: grid;
	grid-template: repeat(4, auto) / auto 7.5rem;
	gap: 1.25rem;
	border-right: 2px solid black;
}
#listado-cabecera{
	grid-column: span 2;
	text-align: right;
	height: 80%;
	margin-bottom: 1.56rem;
}
#listado-cabecera div{
	font-size: 2rem;
}
.seccion{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 3rem;
	font-weight: 400;
	line-height: .8em;
}
#listado h2{
	font-size: 1.56rem;
	text-align: right;
	position: relative;
	top: 0.25rem;
}
#listado ul{
	height: auto;
	list-style: none;
}


/* SECCION "CONTACT" */
#contacto{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#contacto .seccion{
	text-align: center;
	width: 25rem;
}
#contacto h2{
	font-size: 1.5em;
	color: #66DEC3;
	padding: 1.25rem 0 2.5rem 0;
}
#contacto > h2::after{
	content:"";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #66DEC3;
}
#direccion-formulario{
	display: grid;
	grid-template: repeat(2, auto) / 1fr;
	align-items: end;
}
#direccion{
	padding: 1.56rem;
	border: 2px solid black;
}
#direccion h3{
	margin-top: 1.56rem;
	font-size: 1.1rem;
}
#direccion p{
	margin-top: .63rem;
	font-size: .8em;
}
#direccion :nth-child(3){
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
}
#formulario{
	display: block;
	padding: 1.56rem;
	width: 92vw;
	height: 33.44rem;
	background: #66DEC3 url("../img/674-1200x1200-2.jpg") no-repeat center center / cover;
}
#rellenable{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#rellenable input, textarea{
	padding: .63rem;
	font-size: .8em;
	color: white;
	background: none;
	border: 2px solid white;
	margin-bottom: 1.56rem;
	color: white;
}
#rellenable input::placeholder, textarea::placeholder{
	color: white;
}
#rellenable input[type="text"]{
	width: 100%;
	height: 2.81rem;
}
#rellenable input[type="submit"]{
 	width: 6.25rem;
	cursor: pointer;
}
#rellenable input[type="submit"]:hover{
	color: rgb(51, 94, 82);
	background-color: white;
}
#rellenable input[type="submit"]:active{
	box-shadow: inset 0 0 2px gray;
	border: 2px solid lightgray;
}
#rellenable input[type="checkbox"]{
	margin: 0 .63rem;
	cursor: pointer;
}
#rellenable textarea{
	width: 100%;
}
#rellenable p{
	padding: .63rem;
	font-size: .8em;
	color: white;
}
#gracias{
	position: relative;
	width: 100%;
	height: 30.31rem;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#gracias h3{
	padding: 0 10vw;
	color: white;
}



/* --- PAG "PROYECTS" --- */
#porfolio{
	padding: 3.13rem 4vw 0;
	width: 100vw;
	display: grid;
	grid-template: auto / 1fr;
	gap: 4vw;
}
#proyecto{
	text-decoration: none;
 	display: block;
 	position: relative;
 	width: 100%;
	height: 70vw;
	overflow: hidden;
	object-fit: contain;
	cursor: crosshair;
}
#foto{
	display: block;
	width:100%;
	height:100%;
	object-fit: cover;
}
#proyecto .filtro-color{
	opacity: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#proyecto:hover #foto{
	filter: grayscale(100%);
}
#proyecto:hover #info, #proyecto:hover .filtro-color{
	opacity: 1;
}
#info{
	display: block;
	position: absolute;
	padding: 1.56rem;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#titulo-proyecto{
	font-size: 2em;
	text-transform: uppercase;
	color: white;
}
#views{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#icon-view{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#lupa{
	width: 1.25rem;
	margin-right: .63rem;
}
#cantidad-view{
	display: inline-block;
	text-align: left;
	color: white;
}

/* FLECHA ACCESSO CON ANIMACIÓN */
.acceder{
	transform: rotate(225deg);
	width: 4.69rem;
	position: relative;
	animation: move-acceder 1.5s linear infinite;
}
@keyframes move-acceder{
	0%{
		right: -.44rem;
		bottom: .81rem;
	}
	50%{
		right: 0;
		bottom: 1.25rem;
	}
	100%{
		right: -.44rem;
		bottom: .81rem;
	}
}

/* ZOOM IMG PROYECTO */
#zoom{
	content: "";
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .8);
	justify-content: center;
	align-items: center;
	padding: 10%;
	z-index: 1;
}
#zoom img{
	max-width: 100%;
	max-height: 100%;
}


/* --- PAG "PRIVACIDAD" --- */
#privacidad{
	min-height: calc(100vh - 4.16rem);
	padding: 4.69rem calc(4vw + 1.56rem) 3.13rem;
	display: flex;
	justify-content: center;
}
#privacidad div{
	max-width: 45rem;
}
#privacidad h2{
	font-size: 1.25em;
	margin-bottom: .94rem;
}
#privacidad p{
	font-size: .85em;
	margin-bottom: 2.19rem;
}
#privacidad span{
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 700;
	color: #66DEC3;
}





@media screen and (min-width: 768px){
	/* FOOTER */
	footer{
		padding: 1.56rem 4vW;
	}

	/* --- PAG "INDEX" --- */
	/* SECCION "ABOUT US" */
	#about_us p{
		font-size: 2.4rem;
		width: 32.19rem;
	}
	#presentacion{
		width: 27.81rem;
	}
	#we-are{
		font-size: 16.7rem;
	}
	#agencia h2{
		font-size: 10.6rem;
	}
	#agencia h3{
		font-size: 3rem;
		letter-spacing: 2.69rem;
		padding-left: 3.13rem;
	}

	/* SECCION "SERVICES" */
	#listado{
		margin-right: 1.56rem;
	}
	#listado-cabecera div{
		font-size: 3rem;
	}
	.seccion{
		font-size: 4.4rem;
	}
	#listado h2{
		font-size: 1.75rem;
	}
	
	/* SECCION "CONTACT" */
	#contacto{
		margin-bottom: 1.56rem;
	}
	#contacto .seccion{
		width: 32.19rem;
	}
	#formulario{
		width: 32.19rem;
	}
	#gracias h3{
		padding: 0 7vw;
	}

	/* --- PAG "PROYECTS" --- */
	#porfolio{
		grid-template: auto / repeat(2, 1fr);
	}
	#proyecto{
		height: 40vw;
	}
}

@media screen and (min-width: 1200px){
	/* --- PAG "INDEX" --- */
	/* SECCION "ABOUT US" */
	#about_us p{
		font-size: 2.4rem;
		width: 55.94rem;
	}
	#presentacion{
		width: 55.94rem;
	}

	/* SECCION "SERVICES" */
	#servicios{
		height: calc(100vh - 3.13rem);
		grid-template: auto / repeat(2, 1fr);
	}
	#oficina{
		width: 100%;
		height: 100%;
	}
	#listado{
		height: 100%;
		margin-right: 1.56rem;
	}
	#listado-cabecera div{
		font-size: 3rem;
	}
	.seccion{
		font-size: 4.4rem;
	}
	#listado h2{
		font-size: 2rem;
	}

	/* SECCION "CONTACT" */
	#contacto .seccion{
		width: 56.25rem;
	}
	#direccion-formulario{
		grid-template: auto / repeat(2, 30vw);
	}
	#direccion{
		height: 100%;
		padding-top: 15.63rem;
	}
	#direccion h3{
		font-size: 1.5rem;
	}
	#direccion p{
		font-size: 1rem;
	}
	#formulario{
		width: 100%;
	}
	#rellenable{
		width: calc(30vw - 3.13rem);
	}
	#gracias{
		width: calc(30vw - 3.13rem);
	}
	#gracias h3{
		padding: 0 4vw;
	}

	/* --- PAG "PROYECTS" --- */
	#porfolio{
		grid-template: auto / repeat(3, 1fr);
		gap: 2vw;
	}
	#proyecto{
		height: 20vw;
	}
}

@media screen and (min-width: 1920px){
	/* BARRA DE NAVEGACIÓN */
	nav{
		padding: .78rem 2vw;
	}
	/* MENÚ DESPLEGABLE */
	#desplegable{
		right: calc(2vw - 1.56rem);
		width: calc((10% + 12.5rem) - 2vw);
	}

	/* --- PAG "INDEX" --- */
	/* SECCION "INICIO" */
	#inicio #flechas{
		width: 96vw;
	}
	#bolas{
		width: 22.5rem;
		bottom: 2vw;
	}
	#bola{
		width: 5rem;
	}

	/* SECCION "SERVICES" */
	#servicios{
		padding: 2vw;
	}
	#listado{
		padding: 2vw 1.56rem;
	}

	/* SECCION "CONTACT" */
	#direccion{
		padding-top: 22.81rem;
	}
	#formulario{
		padding: 50px 1.56rem;
		height: 40.63rem;
	}
	#rellenable{
		height: 34.38rem;
		justify-content: space-between;
	}

	/* --- PAG "PROYECTS" --- */
	#porfolio{
		padding: 3.13rem 2vw 0;
	}
}




