.privacidad{
	min-height: calc(100vh - 50px);
	padding: 75px calc(4vw + 25px) 0;
}
.privacidad h2{
	font-size: 1.25em;
	margin-bottom: 15px;
}
.privacidad p{
	font-size: .85em;
	margin-bottom: 35px;
}
.privacidad span{
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 700;
	color: #66DEC3;
}