/* ---- ELEMENTOS COMUNES EN LA WEB --- */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html, body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	width:100vw;
}
main{
	width: 100%;
	display: grid;
	grid-template: repeat(2, 100vh) repeat(2, 100%) / 100vw;
	gap: 50px;
}
section:not(:first-child){
	overflow: hidden;
	padding: 25px 4vw;
}
h2{
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
}
.filtro-color{
	width: 100%;
	height: 100%;
	background-color: #66DEC3;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	z-index: 1;
}
button{
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	color: white;
	cursor: pointer;
}
@font-face {
  font-family: 'soligant';
  src: url('../fonts/soligant/soligant.ttf') format('truetype');
}

/* BARRA DE NAVEGACIÓN */
nav{
	width: 100%;
	height: 50px;
	padding: 12.5px 4vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 2;
}
.index{
	width: 106px;
	transition: all .5s;
	position: relative;
	top: 3px;
	z-index: 1;
}
#menu{
	position:relative;
	left: 12.5px;
	top: 0;
}
.xs #burger{
	position: relative;
	width: 50px;
	height: 50px;
	transition: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 2;
}
.xl #burger{
	display: none;
}
#burger button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	transition: all .5s;

}
#burger:hover{
	transform: rotateY(180deg);
	transition: all .5s;
}
.open button{
	transform: rotateZ(0deg);
}
.close button{
	transform: rotateZ(45deg);
}

/* ELEMENTOS DE ANIMACIÓN DE BARRA */
.barra-off #fondo-nav{
	top: -57px;
}
.barra-off #burger button{
	color: white;
}
#fondo-nav{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 2px 0 black;
	transition: all .5s;
	z-index: -1;
}

/* MENÚ DESPLEGABLE */
#desplegable{
	position: fixed;
	top: 0;
	right: calc(4vw - 25px);
	width: calc((10% + 200px) - 4vw);
	transition: all .5s;
	overflow: hidden;
	z-index: 1;
}
.xs #desplegable{
	height: 0;
	background-color: rgba(102, 222, 195, .9);
}
.xl #desplegable{
	height: 40vh;
	background-color: none;
}
#desplegable ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	list-style: none;
	height: 40vh;
	padding: 60px 35px 15% 15%;
}
#desplegable ul a{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1.25em;
	text-decoration: none;
	letter-spacing: 5px;
	color: white;
}
#desplegable ul a::after{
	content:"";
	display: block;
	position: relative;
	width: 100%;
	height: 2px;
	transform: scale(0,1);
	transition: transform .25s;
	transform-origin: right;
	background-color: white;
}
#desplegable ul a:hover::after{
	transform: scale(1,1)
}
#fondo-cierre{
	height: 100vh;
	width: 100vw;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

/* FOOTER */
footer{
	width: 100vw;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12.5px 4%;
	margin: 25px 0 0 0;
}
footer ul{
	font-size: .78em;
	font-family: 'IBM Plex Mono', monospace;;
	margin: 0 25px;
	display:flex;
	flex-wrap: wrap;
}
footer ul li{
	flex-grow: 1;
	list-style: none;
	text-align: center;
}
footer ul a{
	color: black;
	text-decoration: none;
}
footer ul a:hover{
	opacity: .5;
}



/* --- PAG "INDEX" --- */

/* SECCION "INICIO" */
#inicio{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#inicio a{
	cursor: crosshair;
	height: 100vh;
	width: 100vw;
}
#inicio #portada-proyectos{
	height: 100%;
	background-size: cover;
	background-position: center;
	filter: grayscale(100%);;
}
#inicio #flechas{
	position:absolute;
	width: 92vw;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}
#inicio img{
	width: 25px;
	opacity: .9;
}
#inicio img:last-child{
	transform: rotate(180deg);
}
#inicio img:hover{
	opacity: .6;
}
#bolas{
	width: 200px;
	height: 10px;
	position: absolute;
	bottom: 4vw;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}
#bola{
	width: 40px;
	height: 5px;
	border-radius: 5px;
	cursor: pointer;
}
#bola:hover{
	border: 1px solid rgba(255, 255, 255, .9);
}
.activa{
	background-color: rgba(255, 255, 255, .9);
}
.no-activa{
	background-color: rgba(255, 255, 255, .6);
}


/* SECCION "ABOUT US" */
#about_us{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
#about_us p{
	font-style: italic;
	font-size: 32px;
	text-align: center;
}
#presentacion{
	display: flex;
	justify-content: center;
	align-items: center;
}
#we-are{
	font-family: 'soligant';
	font-size: 166px;
	text-align: center;
	line-height: .6em;
	color: #66DEC3;
	opacity: .5;
}
#agencia{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#agencia h2{
	font-size: 105px;
	line-height: .9em;
}
#agencia h3{
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 26px;
	padding-left: 30px;
}


/* SECCION "SERVICES" */
#servicios{
	display: grid;
	grid-template: repeat(2, 1fr) / 1;
	gap: 25px;
	justify-content: center;
	align-items: flex-start;
}
#oficina{
	width: 92vw;
	height: 70vh;
}
#oficina img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#listado{
	padding: 4vw 25px;
	display: grid;
	grid-template: repeat(4, auto) / auto 120px;
	gap: 20px;
	border-right: 2px solid black;
}
#listado-cabecera{
	grid-column: span 2;
	text-align: right;
	height: 80%;
	margin-bottom: 25px;
}
#listado-cabecera div{
	font-size: 32px;
}
.seccion{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 48px;
	font-weight: 400;
	line-height: .8em;
}
#listado h2{
	font-size: 25px;
	text-align: right;
	position: relative;
	top: -4px;
}
#listado ul{
	height: auto;
	list-style: none;
}


/* SECCION "CONTACT" */
#contacto{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#contacto .seccion{
	text-align: center;
	width: 400px;
}
#contacto h2{
	font-size: 1.5em;
	color: #66DEC3;
	margin: 20px 0 40px 0;
}
#contacto > h2::after{
	content:"";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #66DEC3;
}
#direccion-formulario{
	display: grid;
	grid-template: repeat(2, 100%) / 1fr;
	align-items: end;
}
#direccion{
	padding: 25px;
	border: 2px solid black;
}
#direccion h3{
	margin-top: 25px;
	font-size: 18px;
}
#direccion p{
	margin-top: 10px;
	font-size: .8em;
}
#direccion :nth-child(3){
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
}
#formulario{
	display: block;
	padding: 25px;
	height: 535px;
	background: #66DEC3 url("../img/674-1200x1200-2.jpg") no-repeat center center / cover;
}
#rellenable{
	width: calc(92vw - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
}
#rellenable input, textarea{
	padding: 10px;
	font-size: .8em;
	color: white;
	background: none;
	border: 2px solid white;
	margin-bottom: 25px;
	color: white;
}
#rellenable input::placeholder, textarea::placeholder{
	color: white;
}
#rellenable input[type="text"]{
	width: 100%;
	height: 45px;
}
#rellenable input[type="submit"]{
 	width: 100px;
	cursor: pointer;
}
#rellenable input[type="submit"]:hover{
	color: rgb(51, 94, 82);
	background-color: white;
}
#rellenable input[type="submit"]:active{
	box-shadow: inset 0 0 2px gray;
	border: 2px solid lightgray;
}
#rellenable input[type="checkbox"]{
	margin: 0 10px;
	cursor: pointer;
}
#rellenable textarea{
	width: 100%;
}
#rellenable p{
	font-size: .8em;
	color: white;
}
#gracias{
	position:absolute;
	width: calc(92vw - 50px);
	height: 485px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#gracias h3{
	padding: 0 10vw;
	color: white;
}



/* --- PAG "PROYECTS" --- */
#porfolio{
	padding: 50px 4vw 0;
	width: 100vw;
	display: grid;
	grid-template: auto / 1fr;
	gap: 4vw;
}
#proyecto{
	text-decoration: none;
 	display: block;
 	position: relative;
 	width: 100%;
	height: 70vw;
	overflow: hidden;
	object-fit: contain;
	cursor: crosshair;
}
#foto{
	display: block;
	width:100%;
	height:100%;
	object-fit: cover;
}
#proyecto .filtro-color{
	opacity: 0;
}
#proyecto:hover #foto{
	filter: grayscale(100%);
}
#proyecto:hover #info, #proyecto:hover .filtro-color{
	opacity: 1;
}
#info{
	display: block;
	position: absolute;
	padding: 25px;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#titulo-proyecto{
	font-size: 2em;
	text-transform: uppercase;
	color: white;
}
#views{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
#icon-view{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#lupa{
	width: 20px;
	margin-right: 10px;
}
#cantidad-view{
	display: inline-block;
	text-align: left;
	color: white;
}

/* FLECHA ACCESSO CON ANIMACIÓN */
.acceder{
	transform: rotate(225deg);
	width: 75px;
	position: relative;
	animation: move-acceder 1.5s linear infinite;
}
@keyframes move-acceder{
	0%{
		right: -7px;
		bottom: 13px;
	}
	50%{
		right: 0px;
		bottom: 20px;
	}
	100%{
		right: -7px;
		bottom: 13px;
	}
}

/* ZOOM IMG PROYECTO */
#zoom{
	content: "";
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .8);
	justify-content: center;
	align-items: center;
	padding: 10%;
	z-index: 1;
}
#zoom img{
	max-width: 100%;
	max-height: 100%;
}



/* --- PAG "PRIVACIDAD" --- */
#privacidad{
	min-height: calc(100vh - 66.5px);
	padding: 75px calc(4vw + 25px) 50px;
	display: flex;
	justify-content: center;
}
#privacidad div{
	max-width: 720px;
}
#privacidad h2{
	font-size: 1.25em;
	margin-bottom: 15px;
}
#privacidad p{
	font-size: .85em;
	margin-bottom: 35px;
}
#privacidad span{
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 700;
	color: #66DEC3;
}





@media screen and (min-width: 768px){
	/* FOOTER */
	footer{
		padding: 25px 4vW;
	}
	footer ul{
		width: 100%;
		justify-content:space-between;
	}
	footer ul li{
		flex: none;
	}

	/* --- PAG "INDEX" --- */
	/* SECCION "ABOUT US" */
	#about_us p{
		font-size: 38px;
		width: 515px;
	}
	#presentacion{
		width: 445px;
	}
	#we-are{
		font-size: 266px;
	}
	#agencia h2{
		font-size: 169px;
	}
	#agencia h3{
		font-size: 48px;
		letter-spacing: 43px;
		padding-left: 50px;
	}

	/* SECCION "SERVICES" */
	#listado{
		margin-right: 25px;
	}
	#listado-cabecera div{
		font-size: 47px;
	}
	.seccion{
		font-size: 70px;
	}
	#listado h2{
		font-size: 28px;
	}
	
	/* SECCION "CONTACT" */
	#contacto{
		margin-bottom: 25px;
	}
	#contacto .seccion{
		width: 515px;
	}
	#formulario{
		width: 515px;
	}
	#rellenable{
		width: calc(515px - 50px);
	}
	#gracias{
		width: calc(515px - 50px);
	}
	#gracias h3{
		padding: 0 7vw;
	}

	/* --- PAG "PROYECTS" --- */
	#porfolio{
		grid-template: auto / repeat(2, 1fr);
	}
	#proyecto{
		height: 40vw;
	}
}

@media screen and (min-width: 1200px){
	/* --- PAG "INDEX" --- */
	/* SECCION "ABOUT US" */
	#about_us p{
		font-size: 38px;
		width: 895px;
	}
	#presentacion{
		width: 895px;
	}

	/* SECCION "SERVICES" */
	#servicios{
		height: calc(100vh - 50px);
		grid-template: auto / repeat(2, 1fr);
	}
	#oficina{
		width: 100%;
		height: 100%;
	}
	#listado{
		height: 100%;
		margin-right: 25px;
	}
	#listado-cabecera div{
		font-size: 47px;
	}
	.seccion{
		font-size: 70px;
	}
	#listado h2{
		font-size: 32px;
	}

	/* SECCION "CONTACT" */
	#contacto{
		height: calc(100vh - 116.5px);
	}
	#contacto .seccion{
		width: 900px;
	}
	#direccion-formulario{
		grid-template: auto / repeat(2, 30vw);
	}
	#direccion{
		height: 100%;
		padding-top: 250px;
	}
	#direccion h3{
		font-size: 24px;
	}
	#direccion p{
		font-size: 16px;
	}
	#formulario{
		width: 100%;
	}
	#rellenable{
		width: calc(30vw - 50px);
	}
	#gracias{
		width: calc(30vw - 50px);
	}
	#gracias h3{
		padding: 0 4vw;
	}

	/* --- PAG "PROYECTS" --- */
	#porfolio{
		grid-template: auto / repeat(3, 1fr);
		gap: 2vw;
	}
	#proyecto{
		height: 20vw;
	}
}

@media screen and (min-width: 1920px){
	/* BARRA DE NAVEGACIÓN */
	nav{
		padding: 12.5px 2vw;
	}
	/* MENÚ DESPLEGABLE */
	#desplegable{
		right: calc(2vw - 25px);
		width: calc((10% + 200px) - 2vw);
	}

	/* --- PAG "INDEX" --- */
	/* SECCION "INICIO" */
	#inicio #flechas{
		width: 96vw;
	}
	#bolas{
		width: 360px;
		bottom: 2vw;
	}
	#bola{
		width: 80px;
	}

	/* SECCION "SERVICES" */
	#servicios{
		padding: 2vw;
	}
	#listado{
		padding: 2vw 25px;
	}

	/* SECCION "CONTACT" */
	#direccion{
		padding-top: 365px;
	}
	#formulario{
		padding: 50px 25px;
		height: 650px;
	}
	#rellenable{
		height: 550px;
		justify-content: space-between;
	}

	/* --- PAG "PROYECTS" --- */
	#porfolio{
		padding: 50px 2vw 0;
	}




}




